<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="expo.modules.vibechatnative">
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

  <application>
    <!-- Remove Expo's default Firebase service and replace it with Vibe's custom one. -->
    <service
      android:name="expo.modules.notifications.service.ExpoFirebaseMessagingService"
      tools:node="remove" />

    <service
      android:name="expo.modules.vibechatnative.notifications.VibeFirebaseMessagingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <receiver
      android:name="expo.modules.vibechatnative.notifications.VibeIncomingCallActionReceiver"
      android:exported="false" />

    <activity
      android:name="expo.modules.vibechatnative.notifications.VibeNativeCallUiActivity"
      android:exported="false"
      android:excludeFromRecents="true"
      android:launchMode="singleTask"
      android:showWhenLocked="true"
      android:turnScreenOn="true"
      android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.vibechatnative.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/vibe_chat_file_paths" />
    </provider>
  </application>
</manifest>
